<nav class="navbar">
    <a href="/"><div class="navbtn">Home</div></a>
    <div class="navbtn none">
        <form action="/upload" method="post" enctype="multipart/form-data" class="fff">
            <input type="file" required name="image">
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="navbtn"><a href="/Login">Login</a></div>
</nav>