<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="/par.css">
    <title>Login</title>
</head>
<body>
    <%- include('../partials/header.ejs'); %>
    <div class="login-container">
        <h1>Login</h1>
        <input type="text" placeholder="Enter Email: ">
        <input type="password" placeholder="Enter Password: ">
        <button type="submit">Login</button>
    </div>
    <%- include('../partials/footer.ejs'); %>
</body>
</html>